
html, body{
    font-family: Verdana,sans-serif;
    overflow-x: hidden;
}


/* bootstrap5 css override */
.container-fluid{
    margin: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
   
}

.form-control{
    border-radius: 0px !important;
    border: 0px !important;
    height: 45px;
    margin: 10px 0px;
    border-bottom: 2px solid !important;
}

.form-control:focus{
    box-shadow: unset !important;
    border-bottom: 2px solid #198754 !important;
}